<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" >
</head>
<body>
<div class="container container--background relative">
    <form autocomplete="on" th-action="@{/login}" method="post" action="#" class="form form--center absolute" id="login-form">
        <h1 class="title text--center">Login Form</h1>
        <div class="form-group">
            <label for="email" class="label required" >Email: </label>
            <input type="text" id="email" name="email" class="input" placeholder="Input the email" th:value="${email !=null ? email : ''}">
        </div>
        <span class="message error text--center" id="email-error"></span>
        <div class="form-group">
            <label for="password" class="label required">Password: </label>
            <input id="password" type="password" name="password" class="input" placeholder="Input the password">
        </div>
        <span class="message error text--center" id="password-error"></span>
        <span class="message error text--center" id="error-message" th:text="${message != null ? message : ''}"></span>
        <div class="form-group flex-x--end">
            <button class="btn btn-primary" id="btn-submit" type="button">Submit</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>