<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <div class="container">
        <form action="" class="form">
            <h2>Login form</h2>
            <div class="form-group">
                <label for="email" class="label">Email: </label>
                <input type="text" class="input" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="password" class="label">Password: </label>
                <input type="password" class="input" name="password" id="password">
            </div>
            <div class="form-group">
                <label for="rememberMe" class="label">Remember me</label>
                <input type="checkbox" class="input input__checkbox" name="rememberMe" id="rememberMe">
            </div>
        </form>
    </div>
</body>
</html>