
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                                      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" >
</head>
<body>
<header th:replace="header.html :: header"> </header>
<div class="container container--background relative">
    <form autocomplete="off" th-action="@{/register}" method="post" action="#" class="form form--center absolute" id="register-form">
        <h1 class="title text--center">Register Form</h1>
        <div class="form-group">
            <label for="name" class="label required" >Name: </label>
            <input type="text" id="name" name="name" class="input" placeholder="Input the name">
        </div>
        <span class="message error text--center" id="name-error"></span>
        <div class="form-group">
            <label for="email" class="label required" >Email: </label>
            <input type="text" id="email" name="email" class="input" placeholder="Input the email">
        </div>
        <span class="message error text--center" id="email-error"></span>
        <div class="form-group">
            <label for="password" class="label required">Password: </label>
            <input id="password" type="password" name="password" class="input" placeholder="Input the password">
        </div>
        <span class="message error text--center" id="password-error"></span>
        <div class="form-group">
            <label for="confirm-password" class="label required">Confirm Password: </label>
            <input id="confirm-password" type="password" name="confirmPassword" class="input" placeholder="Input the confirm password">
        </div>
        <span class="message error text--center" id="confirm-password-error"></span>
        <span class="message error text--center" id="error-message" th:if="${message != null}" th:text="${message}"></span>
        <div class="form-group flex-x--end">
            <button class="btn btn-primary" id="btn-submit" type="button">Submit</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                                                                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                                                                            crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>